syllabus_minister/controllers/__pycache__/controllers.cpython-36.pyc
syllabus_minister/controllers/__pycache__/__init__.cpython-36.pyc
syllabus_minister/models/__pycache__/__init__.cpython-36.pyc
syllabus_minister/models/__pycache__/course.cpython-36.pyc
syllabus_minister/models/__pycache__/faculty.cpython-36.pyc
syllabus_minister/models/__pycache__/models.cpython-36.pyc
syllabus_minister/models/__pycache__/program.cpython-36.pyc
syllabus_minister/models/__pycache__/unit.cpython-36.pyc
syllabus_minister/models/__pycache__/university.cpython-36.pyc
